<template>
    <div class="<%= data.lowerName %>">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
    export default {
        name: '<%= data.name %>',
        props: {
            msg: String
        },
        data () {
            return {
                
            }
        },
        components: {
            
        },
        mixins: [],
        created () {
            
        },
        mounted () {
            
        },
        methods: {
            
        }
    }
</script>
    
<style scoped>
    .<%= data.lowerName %> {
        
    }
</style>